
.gradle/1.12/taskArtifacts/cache.properties.lock

.gradle/1.12/taskArtifacts/fileHashes.bin

.gradle/1.12/taskArtifacts/fileSnapshots.bin

bin/classes/com/example/samsungmdm/MainActivity.class

.gradle/1.12/taskArtifacts/taskArtifacts.bin

bin/classes/com/example/samsungmdm/MyDeviceAdminReceiver.class

bin/classes/com/example/samsungmdm/MainActivity$1.class

bin/classes.dex

.idea/workspace.xml

bin/dexedLibs/android-support-v4-12d87de7a0fb48c2b3b6ac0a843d43b0.jar

bin/Good-MDM.apk

bin/resources.ap_

build/generated/source/r/debug/com/example/samsungmdm/R.java

build/intermediates/classes/debug/com/example/samsungmdm/ActivateLicense.class

build/intermediates/classes/debug/com/example/samsungmdm/MainActivity$1.class

build/intermediates/classes/debug/com/example/samsungmdm/MainActivity$2.class

build/intermediates/classes/debug/com/example/samsungmdm/MainActivity.class

build/intermediates/classes/debug/com/example/samsungmdm/R$id.class

build/intermediates/classes/debug/com/example/samsungmdm/R$layout.class

build/intermediates/classes/debug/com/example/samsungmdm/R$menu.class

build/intermediates/classes/debug/com/example/samsungmdm/R$string.class

build/intermediates/classes/debug/com/example/samsungmdm/R$style.class

build/intermediates/classes/debug/com/example/samsungmdm/R$xml.class

build/intermediates/classes/debug/com/example/samsungmdm/R.class

build/intermediates/classes/debug/com/example/samsungmdm/Sinatra.class

build/intermediates/dex/debug/classes.dex

build/intermediates/libs/good-mdm-debug.ap_

build/intermediates/manifests/debug/AndroidManifest.xml

build/intermediates/model_data.bin

build/intermediates/res/debug/layout/activity_main.xml

build/outputs/apk/good-mdm-debug-unaligned.apk

build/outputs/apk/good-mdm-debug.apk
